.brand-logo {
    margin-left: 15px;
  }

.card {
    /* max-height: 100%; */
    padding: 30px;
    /* max-width: 100%; */
    margin: 0 auto;
}

.center-block {
    float: none;
    margin: 0 auto;
}

.welcome {
    text-align: center;
}